@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #eee;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

main {
  display: flex;
  position: relative;
  width: 80rem;
  height: 50rem;
  margin: 0 auto; }

section {
  height: inherit;
  width: 40rem;
  display: inline-block;
  margin: 0;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.current-results-last-searches-toggler__toggle {
  padding: 0.2rem 0.6rem;
  transition: background-color 0.1s ease-in-out; }
  .current-results-last-searches-toggler__toggle.active {
    background-color: orange;
    border-radius: 0.8rem; }

/*.search-section*/
.search-section {
  width: 30rem;
  background-color: #e0e0e0; }

.search-section > div {
  padding: 1rem 2rem; }

.search-control {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4; }

.search-control__string {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid #dfdfdf;
  padding: 0.4rem 1rem;
  color: #444; }

.search-control__button {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1.8rem;
  padding: 0.8rem 2rem;
  color: #666;
  font-weight: 400;
  border: 1px solid #dfdfdf;
  /* text-shadow: 0px 1px 0px #aaa; */
  font-size: 1.2rem; }

.data-toggler-and-display-wrp {
  height: calc(100% - 10rem); }

.current-results-last-searches-toggler > li {
  float: left;
  display: inline-block;
  margin-right: 0.8rem; }

.paginate-strip {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ccc; }

/*end of .player-section*/
/*.player-section*/
.player-section {
  width: calc(80rem - 30rem); }

.play-chosen {
  height: 100%;
  width: inherit; }

.play-chosen__link {
  width: inherit;
  height: 100%; }

#image-holder:after {
  content: '';
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 65%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.play-chosen__image-crop {
  width: inherit;
  height: inherit;
  position: relative;
  overflow-x: hidden; }

.play-chosen__image-display {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%; }
  .play-chosen__image-display.landscape-like {
    width: 100%;
    height: auto; }
  .play-chosen__image-display.portrait-like {
    width: auto;
    height: 100%; }

.soundcloud-strip {
  height: 4rem;
  outline: 1px dashed #aaa; }

/*end of .search-section*/
.soundcloud-strip {
  outline: 1px dashed #aaa;
  position: fixed;
  height: 16.6rem;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0; }

#data_display, #search_display {
  display: none;
  padding: 1.2rem 0;
  overflow-y: auto;
  max-height: 36rem; }
  #data_display.displayed, #search_display.displayed {
    display: block; }
  #data_display li, #search_display li {
    font-size: 1.4rem;
    padding: 1.2rem 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    color: #666; }
    #data_display li:last-child, #search_display li:last-child {
      border-bottom: none; }

.search-input-wrap {
  position: relative; }

#input_message {
  display: block;
  position: absolute;
  bottom: -1.4rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #444; }
  #input_message[visible="false"] {
    display: none; }

.animated-cloned-element {
  z-index: 3;
  opacity: 0.75;
  color: #888;
  transition: all 0.5s ease-out;
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: .25s; }

@keyframes fade-out {
  from {
    opacity: 0.75; }
  to {
    opacity: 0; } }

.animate-img-entrance {
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s; }

@keyframes blur-out {
  from {
    filter: blur(20px); }
  to {
    filter: blur(0px); } }

#play_pause_toggle_button {
  font-size: 4em;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 4rem;
  text-align: right;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 0.25s ease-in-out; }
  #play_pause_toggle_button[active="false"] {
    opacity: 0; }
  #play_pause_toggle_button[active="true"] {
    opacity: 1; }
  #play_pause_toggle_button:after {
    content: attr(data-current-action); }
