$main-width: 80rem;
$search-section-width: 30rem;
$player-section-width: calc(#{$main-width} - #{$search-section-width});
$soundcloud-strip-height: 4rem;

*, *:before, *:after{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #eee;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

main{
  display: flex;
  position: relative;
  width: $main-width;
  height: 50rem;
  margin: 0 auto;
}

section {
  outline: 1px dashed #ddd; /*tmp*/
  height: inherit;
  width: 40rem;
  display: inline-block;
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: 1px dashed red;
}

/*.search-section*/
.search-section {
  width: $search-section-width;
}
// intended for all direct children of search-section
.search-section > div{
  padding: 0 2rem;
}
.search-control {
  height: 7rem;
  outline: 1px dashed #aaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-control__string {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-control__button {
  height: $soundcloud-strip-height;
  cursor: pointer;
}
.data-toggler-and-display-wrp {
  height: calc(100% - 10rem);
}
.current-results-last-searches-toggler > li {
  float: left;
  display: inline-block;
  margin-right: 0.8rem;
}

.paginate-strip {
  position: absolute;
  bottom: 0;
  height: $soundcloud-strip-height;
  outline: 1px dashed #aaa;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*end of .player-section*/



/*.player-section*/
.player-section{
  width: $player-section-width;
}
.play-chosen{
  height: calc(100% - #{$soundcloud-strip-height});
  outline: 1px dashed #ccc;
  width: inherit;
}
.play-chosen__link{
  width: inherit;
  height: 100%;
}
.play-chosen__image-crop{
  width: inherit;
  height: inherit;
  position: relative;
  overflow-x: hidden;
}
.play-chosen__image-display{
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.soundcloud-strip{
  height: $soundcloud-strip-height;
  outline: 1px dashed #aaa;
}

/*end of .search-section*/

// todo: remove previous class
.soundcloud-strip {
  outline: 1px dashed #aaa;
  position: fixed;
  height: 16.6rem;
  width: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  bottom: 0;
}
#data_display,#search_display{
  display: none;
  &.displayed{
    display: block;
  }
}
#input_message{
  display: block;
  &[visible="false"]{
    display: none;
  }
}

.animated-cloned-element{
  z-index: 3;
  transition: all 0.5s ease-out;
}

.animate-img-entrance{
  filter: blur(0px);
  animation-name: blur-out;
  animation-timing-function: ease-out;
  animation-duration: .75s;
}
@keyframes blur-out {
  from {filter: blur(20px);}
  to {filter: blur(0px);}
}
